[submodule "libs/chesto"]
	path = libs/chesto
	url = https://github.com/vgmoose/chesto.git
[submodule "libs/litehtml"]
	path = libs/litehtml
	url = https://github.com/litehtml/litehtml.git
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json.git
