[submodule "libs/chesto"]
	path = libs/chesto
	url = https://github.com/vgmoose/chesto.git
[submodule "libs/duktape"]
	path = libs/duktape
	url = https://github.com/svaarala/duktape.git
[submodule "libs/litehtml"]
	path = libs/litehtml
	url = https://github.com/litehtml/litehtml.git
