[submodule "libs/chesto"]
	path = libs/chesto
	url = https://github.com/vgmoose/chesto.git
[submodule "libs/litehtml"]
	path = libs/litehtml
	url = https://github.com/litehtml/litehtml.git
[submodule "libs/mujs"]
	path = libs/mujs
	url = https://github.com/ccxvii/mujs
[submodule "libs/snabbdom"]
	path = libs/snabbdom
	url = https://github.com/snabbdom/snabbdom
